.login-container {
  position: relative;
  background: #f4f7fc; /* Soft light grayish-blue */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 75px;
  height: auto;
}

.card {
  width: 37%;
  max-width: 550px;
  padding: 25px;
  background: white;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  border: 1px solid #d1d9e6; /* Subtle border */
  text-align: center;
}

h1 {
  color: #004080; /* Trustworthy navy blue */
  font-weight: 500;
}

.bold {
  font-weight: 600;
  color: #008080; /* Teal for highlights */
}

h6 {
  font-size: 14px;
  color: #333;
  margin-bottom: 25px;
}

p {
  color: #444;
  font-size: 13px;
  letter-spacing: 0.5px;
  line-height: 1.4rem;
  margin-bottom: 0.5rem;
}

.separator {
  width: 73%;
  height: 4px;
  background-color: #008080; /* Teal separator */
  border-radius: 6px;
  margin: 10px auto 25px;
  position: relative;
}

.dot {
  width: 4px;
  height: 4px;
  background-color: #004080; /* Navy dots */
  border-radius: 50%;
  position: absolute;
}

.dot-1 { right: -8px; }
.dot-2 { right: -16px; }
.dot-3 { right: -24px; }

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  font-size: 14px;
  color: #333;
  margin-bottom: 4px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #b0bec5;
  background: #f4f7fc;
  transition: border-color 0.3s;
  margin-bottom: 5px;
}

.form-group input::placeholder {
  color: #76838f;
}

.form-group input:focus {
  border: 1px solid #008080;
  box-shadow: 0 0 7px rgba(0, 128, 128, 0.6);
  transition: all 0.3s ease-in-out;
  outline: none;
}

.login-button {
  font-size: 15px;
  letter-spacing: 0.2px;
  width: 100%;
  background: #0056b3; /* Professional blue */
  border-radius: 6px;
  padding: 12px;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
  transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.login-button:hover {
  background: #004080; /* Darker navy for hover */
  box-shadow: 0px 4px 15px rgba(0, 86, 179, 0.3);
  transform: scale(1.03);
}

.error-message {
  color: white;
  background: rgba(200, 50, 50, 0.9);
  padding: 6px;
  border-radius: 5px;
  font-size: 12px;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .logo {
      top: 10px;
      left: 10px;
      width: 50px;
  }

  .card {
      width: 90%;
      left: 5%;
      bottom: 20px;
  }
}
